  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Raleway';
    background-color: black;
    background-repeat: no-repeat;
    color: whitesmoke;
    margin: 0px;
    padding: 0;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    background: linear-gradient( #65c4ea, #197abb);
    -webkit-background-clip: text;
}

h2{
    font-size: 2rem;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

p{
    font-size: 1rem;
}

section {
    margin: 100px, 0;
}

button{
    text-transform: uppercase;
    color: #33a8d8;
    letter-spacing: 4px;
    padding: 16px 32px;
    font-weight: bold;
    background-color: transparent;
    font-size: 1rem;
    border-image:linear-gradient( #65c4ea, #197abb);
    border-image-slice: 10;
}

.banner{
    background-image:linear-gradient(rgba(3, 3, 3, 0.6) , rgba(9, 181, 255, 0.2), rgba(0, 0, 0, 0.6)), url(assets/images/banner.png);
    background-size: cover;
    height: 550px;
    padding-top: 60px;
    border-bottom: 1px solid #33a8d8;
}

.banner .banner-content{
    width: 600px;
    margin: auto;
    text-align: center;
}


.logo{
    margin: auto;
    width: 230px;
    height: 230px;
}

.logo img {
    object-fit: contain;
    background-color: #0000005e;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


#course-content{
    background-color: black;
    color: white;
    padding: 100px 200px;
    text-align: center;
    box-sizing: border-box;
    border: 0.1px solid #33a8d8;
    border-style: solid none;
}


#course-content h2{
    color: #33A8DB;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 4px;

}

.module {
    background: #252525;
    width: 530px;
    padding: 15px;
    display: block;
    border: 1px solid #33A8DB;
    border-radius: 25px;
    margin: 0 auto 24px;
    color: white;
    box-shadow: inset -6px 6px rgba(16, 16, 16, 0.723);
}

.module span {
    color: #33a8d8;
    font-weight: bold;
}

#transform-world{
    background-image: url(assets/images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    height: 550px; 
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}

#transform-world p{
    width: 250px;
    text-shadow: 3px 2px #33a8d8;
    font-weight: 900;
    padding: 200px;
    text-transform: lowercase;
    word-wrap: break-word;
    font-size: 2.5rem;
}

#professional-challenges{
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

#professional-challenges h2{
    color: #33A8DB;
    padding-left: 250px;
    width: 750px;
    word-wrap: break-word;
}

#professional-challenges p {
    padding-left: 255px;
    padding-right: 255px;
    font-size: 1rem;
}

footer{
    border: 0.1px solid #33A8DB;
    border-style: solid none none;
    align-items: center;
    text-align: center;
    padding: 60px 0px;
    background: linear-gradient(#000000a4 50%, #33a9d836);
    font-size: smaller;
}


footer .dio-logo{
    width: 300px;
}

footer a{color: #33a8d8; font-weight: bold; text-decoration: none;}